@import '../base/body';
@import '../themes/neutral';

.game{
    display: flex;
    justify-content: center;
}

.myCanvas {
    position: absolute;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    z-index: -1;
}

.threeContentContainer {
    position: absolute;
    left: 25vw;
    z-index: 2;
    height: 30vh;
    width: 80vh; 
    max-width: 800px;   
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button{
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    h3, h2 {
        margin: 2px;
    }
    h1 {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@media only screen and (min-width: 0) {
    .myCanvas {
        width: 80vw;
        height: 80vw;
        left: 10vw;
        top: 10vh;
    }
    .threeContentContainer{
        left: 10vw;
        width: 80vw;
        height: 30%;
        top: 60%;
        color: black;
    }
}

@media only screen and (min-width: $small) {
    .myCanvas {
        width: 400px;
        height: 400px;
        left: 50vw;
        margin-left: -200px;
        color: $neutral-text;
    }
    .threeContentContainer{
        left: 50vw;
        margin-left: -200px;
        width: 400px;
        height: 30%;
        top: 60%;
        color: black;
    }
}

@media only screen and (min-width: $medium){
    .myCanvas {
        left: 50vw;
        top: 50vh;
        margin-top: -300px;
        margin-left: -300px;
        height: 600px;
        width: 600px;
    }
    .threeContentContainer{
        left: 50vw;
        margin-left: -125px;
        width: 250px;
        height: 250px;
        top: 50vh;
        margin-top: -125px;
        color: $neutral-text;
    }
}



@media (min-width: $large) {
    .myCanvas {
        width: 750px;
        height: 750px;
        left: 50vw;
        margin-left: -375px;
        top: 50%;
        margin-top: -375px;
    }
    .threeContentContainer{
        width: 750px;
        left: 50vw;
        margin-left: -150px;
        top: 50vh;
        margin-top: -150px;
        height: 300px;
        width: 300px;
        // background-color: purple;
    }
}

