.join-game-ball {
    padding: 0;
    h4 {
        font-size: 1.4rem;
    }
    h5 {
        font-size: 1.6rem;
        margin-top: 0px;
    }
    h6 {
        font-size: 1.2rem;
    }
}

.discussion-ball-container {
        border-radius: 5%;
        background: rgba(0, 0, 0, 0.75);

    h2 {
        color: white;
        margin: 0;
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
        color: white;
        margin: 0;
    }
}
